%h1 Update the Task
= form_with(model: @task, data: { turbo: false }, url: task_path(@task)) do |f|
  %p "Title"
  = f.text_field :title
  %p "Description"
  = f.text_field :description
  %p "Due to"
  = f.date_field :due_to
  = f.submit "Update Task"