%div{class: "container-lg mt-lg-5"}
    %div{class: "row g-3 bg-white rounded"}
        %div{class: "col-12 col-md-3 p-3 bg-white rounded"}
            = render "filters"
            = link_to "Add new Task", new_task_path, class: "btn btn-outline-primary w-100 mt-3"
        %div{class: "col-12 col-md-9 p-3 bg-white rounded"}
            %div{class: "w-100 w-md-75 p-3 d-flex flex-column gap-1"}
                - @tasks.each do |task|
                    %div{class: "mb-2 p-2 rounded shadow-sm task-container", style: "background-color: rgb(255, 255, 255);", id: "#{task.id}"}
                        %p.badge{ class: "text-wrap mt-1 w-100 #{active_check(task)}" }= task.status
                        .d-flex.justify-content-between
                            .d-flex.gap-2
                                = link_to task_path(task), class: "link-dark" do
                                    %h5= task.title
                                %p.badge{ class: "text-wrap mt-1 mb-auto #{priority_color(task)}" }= task.priority
                            %div.d-flex.gap-2.flex-column.flex-sm-row
                                = link_to "Edit", edit_task_path(task), class: "btn btn-outline-secondary"
                                = link_to "Destroy", task, method: :delete, class: "delete_task btn btn-outline-danger", data: { remote: true, turbo_confirm: 'Are you sure?' }
                        %p= task.description
                        %p= task.due_date.strftime("%d %b %Y")
                        .d-none.d-sm-flex.align-items-center
                            .container-lg
                                .row.row-cols-1.row-cols-sm-2.row-cols-md-3
                                    - display_images(task)
                        - see_all(task)

                .row.margin-twenty5-zero.margin-b-zero.pagination-row

                .text-center.my-1.mx-auto
                    = paginate @tasks
