%div{class: "container-lg mt-lg-5"}
    %div{class: "row g-3 bg-white rounded mb-3"}
        %div{class: "col-12 col-md-3 p-3 bg-white rounded"}
            = render "filters"
            = link_to "Add new Task", new_task_path, class: "btn btn-outline-primary w-100 mt-3"
        %div{class: "col-12 col-md-9 p-3 bg-white rounded"}
            %div{class: "w-100 w-md-75 p-3 d-flex flex-column gap-1"}
                %div.d-flex.justify-content-between
                    %div
                    =  button_to "Sign Out", destroy_user_session_path, class: "btn btn-danger mb-3", method: :delete
                - @tasks.each do |task|
                    %div{class: "mb-2 p-2 rounded shadow-sm task-container", style: "background-color: rgb(255, 255, 255);", id: "#{task.id}"}
                        %p.badge{ class: "text-wrap mt-1 w-100 #{active_check(task)}" }= task.status
                        .d-flex.justify-content-between
                            .d-flex.gap-2
                                = link_to task_path(task), class: "link-dark" do
                                    %h5= task.title
                                %p.badge{ class: "text-wrap mt-1 mb-auto #{priority_color(task)}" }= task.priority
                            %div.d-flex.gap-2.flex-column.flex-sm-row
                                = link_to "Edit", edit_task_path(task), class: "btn btn-outline-secondary"
                                = link_to "Destroy", task, method: :delete, class: "delete_task btn btn-outline-danger", data: { remote: true, turbo_confirm: 'Are you sure?' }
                        %p= task.description
                        %p= task.due_date.strftime("%d %b %Y")

                        - task.task_checkboxes.each do |task_checkbox|
                            %form
                                %div{class: "row my-2 mx-0", "data-controller": "task-checkbox", id: "#{task_checkbox.id}"}
                                    .col-12.col-sm-10.d-flex.my-2.my-sm-0.px-0
                                        .col-1.col-sm-1.px-0
                                            - if task_checkbox.checked?
                                                %input.form-check-input{ type: "checkbox", class: "mt-2", "data-action": "task-checkbox#mark_as_active", remote: true, "checked": "completed" }
                                            - else
                                                %input.form-check-input{ type: "checkbox", class: "mt-2", "data-action": "task-checkbox#mark_as_completed", remote: true }
                                        .col-11.col-sm-11.px-0.mx-0.px-sm-2
                                            .d-sm-flex.gap-2.mr-0
                                                %input.form-control.col-12.col-sm{ type: "text", "data-action": "task-checkbox#triggerNameChange", value: task_checkbox.name }
                                                %button.btn.btn-primary.col-12.col-sm-2.my-2.my-sm-0{ "data-action": "task-checkbox#triggerNameChange", style: "display: none" } Update
                                    .col-12.col-sm-2.px-0
                                        = link_to "Delete", task_checkbox_path(task_checkbox), method: :delete, data: { remote: true }, class: "btn btn-outline-danger w-100 w-sm-auto"
                        
                        .d-none.d-sm-flex.align-items-center
                            .container-lg
                                .row.row-cols-1.row-cols-sm-2.row-cols-md-3
                                    - display_images(task)
                        - see_all(task)

                .row.margin-twenty5-zero.margin-b-zero.pagination-row

                .text-center.mb-1.mx-auto
                    = paginate @tasks
